<div class="row col-12" style="margin-top: 50px; margin-bottom: 50px;">
    <img class="mx-auto" src="/assets/img/logo.png" style="height: 150px;"/>
</div>
<div class="container" style="height: 500px;">
    <div class="row col-xs-12" ng-show="needs_spotify_pairing">
        <button class="btn-lg btn-success mx-auto" ng-click="login()">Premièrement, se login avec Spotify</button>
    </div>

    <div ng-hide="needs_spotify_pairing">
        <div class="row col-12">
            <a class="btn-lg btn-success mx-auto" ng-href="#/artistmode">Mode artiste</a>
        </div>
        <br/>
        <div class="row col-12">
            <a class="btn-lg btn-success mx-auto" ng-href="#/categorymode">Mode categorie</a>
        </div>
    </div>
</div>
