.absolutecenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greenbg {
    background-color: palegreen;
}
.redbg {
    background-color: tomato;
}

.btn-success {
    background-color: #1DB954;
}
body {
    font-size: 20px;
}
button {
    font-size: 15px;
}

.footer a, .footer a:focus, .footer a:active {
    color: #ffffff;
    font-size: 13pt;
}

.footer {
    height: 150px;
    width: 100%;
    background-color: #1db954;
    color: white;
    bottom: 0px;
    font-family: "Roboto";
}
